.layout{

display:flex;

min-height:100vh;

background:#f5f7fb;

}

.main{

margin-left:270px;

width:calc(100% - 270px);

display:flex;

flex-direction:column;

}

.content{

padding:30px;

flex:1;

overflow:auto;

}
